@mixin fade-in
  opacity:              1
  transition:           opacity 250ms ease-in-out
  -moz-transition:      opacity 250ms ease-in-out
  -webkit-transition:   opacity 250ms ease-in-out

@mixin fade-out
  opacity:              0
  transition:           opacity 250ms ease-in-out
  -moz-transition:      opacity 250ms ease-in-out
  -webkit-transition:   opacity 250ms ease-in-out