.row
  .large-12.columns
    .hide-for-small
      .featured
        %img= {src: "http://placehold.it/1000x400&text=Slide Image"}
        
    .row
      .small-12.show-for-small
        hello world 2
        %img= {src: "http://placehold.it/1000x600&text=For Small Screens"}