.row
  .large-12.columns
    .contentHeader
      CONTACT
      
.row
  .small-12.medium-4.columns
    .panel
      .item
        %h2 Craft Collections
        %hr
          %ul
            %li
              .icon.fa.fa-github
              %a{href: "https://github.com/linkblaine", target: "_blank"} @linkblaine
            %li
              .icon.fa.fa-codepen
              %a{href: "http://codepen.io/linkblaine/", target: "_blank"} @linkblaine

      .item
        %h2 Social Media
        %hr
          %ul
            %li
              %img{src: "../assets/twitter.png", class: "icon" }
              %a{href: "https://twitter.com/linkblaine", target: "_blank"} @linkblaine
            %li
              %img{src: "../assets/instagram.png" , class: "icon" }
              %a{href: "http://instagram.com/linkblaine/", target: "_blank"}  @linkblaine
            %li 
              .icon.fa.fa-linkedin
              %a{href: "https://www.linkedin.com/in/zackmance", target: "_blank"} Zack Mance
          
  .small-12.medium-8.columns
    .panel
      %h2 Send me a message
      %hr
      %form{ :action => "", :method => "post"}
        .row
          .small-12.large-6.columns
            %label{:for => "name"} Name:
            %input{ :type => "text", :name => "name" }
          .small-12.large-6.columns
            %label{:for => "subject"} Topic:
            %input{ :type => "text", :name => "subject" }
        .row
          .small-12.columns
            %label{:for => "mail"} E-Mail:
            %input{:type => "text", :name => "mail", :class => "text"}
          .small-12.columns
            %label{:for => "body"} Message:
            %textarea{:name => "body", :rows => 5}
        .row
          .small-12.columns
            %input{:type => "submit", :value => "Send", :class => "green right inline"}
        
  