.row
  .large-12.columns
    .contentHeader
      CRAFT
.row
  .small-12.medium-2.columns
    .panel
      %img{src: "http://placehold.it/100x100"}
  .small-12.medium-7.columns
    .panel
      %p.quote.word-wrap "Some Whitty Quote I said about work"
      %p.statement.word-wrap Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu mi fermentum, lobortis neque  quis, ultricies purus. Mauris imperdiet arcu vitae nisi elementum, eget imperdiet dolor gravida. Donec aliquam urna non quam eleifend adipiscing.
  .small-12.medium-3.columns
    .panel
      %h2 Skills
      %hr
      %ul
        %li
          Ruby &nbsp;
          .icon.fa.fa-star
          .icon.fa.fa-star
          .icon.fa.fa-star
          .icon.fa.fa-star-o
          .icon.fa.fa-star-o
        %li
          Javascript &nbsp;
          .icon.fa.fa-star
          .icon.fa.fa-star
          .icon.fa.fa-star
          .icon.fa.fa-star-o
          .icon.fa.fa-star-o
        %li
          CSS / Sass &nbsp;
          .icon.fa.fa-star
          .icon.fa.fa-star
          .icon.fa.fa-star
          .icon.fa.fa-star-o
          .icon.fa.fa-star-o
        %li
          MMMMMM &nbsp;
          .icon.fa.fa-star-o
          .icon.fa.fa-star-o
          .icon.fa.fa-star-o
          .icon.fa.fa-star-o
          .icon.fa.fa-star-o

