<div id="wrapper">
  <header>
  <nav class="wrap">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Adventures</a></li>
      <li><a href="#">Work</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
  </header>
</div>

