<div id="wrapper">
  <header>
  <nav>
    <div class="wrap">
      <ul>
        <li class="menuitem"><a href="#">Home</a><div class="arrow">&nbsp;</div></li>
        <li class="menuitem"><a href="#">Adventures</a><div class="arrow">&nbsp;</div></li>
        <li class="menuitem"><a href="#">Work</a><div class="arrow">&nbsp;</div></li>
        <li class="menuitem"><a href="#">Contact</a><div class="arrow">&nbsp;</div></li>
      </ul>
    </div>
  </nav>
    <div class="content">
      <div class="container">
      <div class="contentPanel">Stuff 1</div>
      <div class="contentPanel">Stuff 2</div>
      <div class="contentPanel">Stuff 3</div>
      <div class="contentPanel">Stuff 4</div>
    </div>
  </header>
  </div>

</div>

