<div id="wrapper">
  <header>
  <nav class="wrap">
    <ul>
      <li><a href="#">Home</a><div class="arrow">&nbsp;</div></li>
      <li><a href="#">Adventures</a><div class="arrow">&nbsp;</div></li>
      <li><a href="#">Work</a><div class="arrow">&nbsp;</div></li>
      <li><a href="#">Contact</a><div class="arrow">&nbsp;</div></li>
    </ul>
  </nav>
  </header>
</div>

