.content
  margin-top:   20px
  width:        500%
  overflow-x:   hidden
  white-space:  nowrap
  transition: margin-left 2s

  .contentPanel
    font-size:  1em
    width:      20%
    border:     1px solid black
    min-height: 100px
    float: left


  