.content
  margin-top:  20px
  width:       100%
  overflow-x:  hidden
  white-space: nowrap

.container
  transition: margin-left 2s
  width:      400%
  font-size:  0

.contentPanel
  font-size:  1em
  display:    inline-block
  width:      25%
  border:     1px solid black
  height:     100px
  