@import "main"

nav
  background-color: $light-green
  display: block
  height: 75px
  text-align: center
  border-bottom: 1px solid rgba(18,19,16,0.3)
  
  .wrap
    display: block
  
  a
    text-transform: uppercase
    text-decoration: none
    color: $primary-font
  

  ul
    position: relative
    display: inline-block
    margin: 0 auto

    li
      float: left
      margin: 0px 7px
      width: 150px
      height: 75px
      text-align: center
      cursor: pointer
      padding-top: 1em
      
      @media screen and (max-width: 1200px)
      @media screen and (max-width: 768px)
        width: 75px
      @media screen and (max-width: 480px)
        width: 45px
      @media screen and (min-width: 1200px)

      .text
        @media screen and (max-width: 768px)
          display: none
        @media screen and (max-width: 480px)
          display: none


      a
        display: block
        i
          width: 100%
      
      a:hover
        color: $dark-green
        @include fade-in
      
  
