.row.hide-for-large
  .small-6.columns
    %i.logo.fa.fa-camera-retro.fa-2x
  .small-6.columns
    %ul.menu.inline-list.right
      %li.hide-for-large
        %a{:href => '#'}
          %i.fa.fa-arrow-circle-up.fa-2x
    
.row.hide-for-small
  .large-6.columns
    %i.logo.fa.fa-camera-retro.fa-2x
  .large-6.columns
    %ul.menu.inline-list.right
      %li
        %a{:href => "#" } About
      %li
        %a{:href => "#" } Reverie
      %li
        %a{:href => "#" } Passion
      %li
        %a{:href => "#" } Craft
      %li
        %a{:href => "#" } Contact
