%nav
  .wrap
    %ul
      %li.menuitem
        %a{href:"#"}
          .text 
            About 
          %i.fa.fa-user
          .arrow
      %li.menuitem
        %a{href: "#"}
          .text
            Reverie
          %i.fa.fa-rocket
      %li.menuitem
        %a{href: "#"} 
          .text
            Passion
          %i.fa.fa-cutlery 
      %li.menuitem
        %a{href:  "#"} 
          .text
            Craft
          %i.fa.fa-desktop
      %li.menuitem
        %a{href:  "#"}
          .text 
            Contact
          %i.fa.fa-comments
